@media screen and (max-width: 700px) {
  .image0, .image1, .image2, .image3, .image4, .image5 {
    position: relative;
    overflow: hidden;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .image0 {
    background-image: url("../images/img11.png");
    margin-top: -20px;
  }
  .image1 {
    background-image: url("../images/img8-rotate.jpg");
    height: 255px;
  }
  .image2 {
    background-image: url("../images/img12.png");
    height: 255px;
    margin-top: -20px;
  }
  .image3 {
    background-image: url("../images/img6-rotate.jpg");
    height: 255px;
    margin-top: -20px;
  }
  .image4 {
    background-image: url("../images/img10-rotate.png");
    height: 255px;
    margin-top: -20px;
  }
  .image5 {
    background-image: url("../images/img13.png");
    height: 255px;
    margin-top: -20px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 5px;
    left: -1000px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 99;
  }
  nav .nav-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-social li {
    margin: 5px 0 5px 0;
    padding: 0 15px;
  }
  nav .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .main-nav li {
    margin: 5px 0 5px;
    text-transform: uppercase;
  }
  nav .main-nav li a {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 5px;
  }
  nav .main-nav li:nth-child(4) {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .container {
    display: block !important;
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 10px;
    z-index: 99;
  }
  .burger {
    cursor: pointer;
    display: block;
  }
  .burger span {
    background-color: #fff;
    display: block;
    width: 40px;
    height: 4px;
    margin: 5px 0 5px 0;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  .burger.open span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
  }
  .burger.open span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -9px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50vh;
  }
  header img {
    height: 250px;
    width: 250px;
  }
  .philosophy {
    margin-bottom: 0;
    margin-top: -20px;
  }
  .rolls {
    margin: 0 0 15px 0;
  }
  .reviews {
    margin: 0;
    padding: 0;
  }
  .reviews .heading {
    padding: 30px 0 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .reviews .heading svg {
    margin-left: 5px;
  }
  .reviews .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 0 15px 0;
  }
  .reviews .reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 50px 0 0;
    padding: 0px 30px;
  }
  .reviews .reviews-container .review {
    margin: 0 15px;
    padding: 0 15px;
  }
}

.deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.deals .deal {
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
}

.deals .deal h4 {
  width: 85%;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.deals .deal p {
  font-weight: bold;
  padding: 0;
}

.deals ul.allergens {
  font-weight: 300;
}

.location {
  margin: 0 0 15px 0;
}

.order-now .deliveroo {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 15px 0;
  padding: 10px 0;
  border: 3px solid #fff;
}

.order-now .deliveroo svg {
  padding: 5px;
}

footer {
  padding: 15px 30px 30px 30px;
  color: #fff;
}

footer .heading {
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer .heading h2,
footer .heading h3 {
  padding: 15px 0;
}

footer .heading h2 {
  color: #e35f52;
}

footer .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer .footer-contact li {
  padding: 10px;
}

footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 5px;
}

@media screen and (max-width: 350px) {
  .reviews .reviews-container .review {
    margin: 0;
  }
  .order-now .deliveroo {
    display: inline-block;
  }
  .order-now .deliveroo svg {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 700px) {
  nav, ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
    z-index: 101;
  }
  nav li, ul li {
    padding: 0 15px;
  }
  .nav-social {
    display: none;
  }
  .header-logo {
    display: none;
  }
  .philosophy .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}
