

form {
    display: flex;
    flex-direction: column; 
    padding: 30px;
    position: relative;
    z-index: 100;
    input,
    textarea {
        padding: 10px;
        margin: 15px 0;
        border-radius: 3px;
        border: 1px solid transparent;
        border-top: none;
        border-bottom: 1px solid #ddd;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
    }
    textarea {
        resize: vertical;
    }
    .form-submit,
    .validator,
    .form-message {
        width: 10%;
        align-self: flex-end;
        min-width: 130px;
        max-width: 100%;
        text-align: center;
    }
    .form-submit {
        border-radius: 3px;
        box-shadow: none;
        background-color: transparent;
        color: #fff;
        padding: 15px;
        border: 1px solid;
        cursor: pointer;
    }
}

@media screen and (max-width: 700px) {
    form {
        padding: 0;
        .form-submit,
        .validator {
            align-self: center;
        }
        .contact-form {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .form-submit,
        .validator {
            width: 70%; //align-self: center;
        }
        .form-message {
            margin: 5px auto;
        }
    }
}

@media screen and (max-width: 700px) {
    // Images 
    %img {
        position: relative;
        overflow: hidden;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .image0 {
        background-image: url("../images/img11.png");
        margin-top: -20px;
        height: 350px;
        @extend %img;
    }
    .image1 {
        background-image: url("../images/img8-rotate.png");
        height: 255px;
        @extend %img;
    }
    .image2 {
        background-image: url("../images/img12.png");
        height: 255px;
        margin-top: -20px;
        @extend %img;
    }
    .image3 {
        background-image: url("../images/img6-rotate.png");
        height: 255px;
        margin-top: -20px;
        @extend %img;
    }
    .image4 {
        background-image: url("../images/img10-rotate.png");
        height: 255px;
        margin-top: -20px;
        @extend %img;
    }
    .image5 {
        background-image: url("../images/img13.png");
        height: 255px;
        margin-top: -20px;
        @extend %img;
    } // Navigation 
    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .7);
        position: fixed;
        top: 5px;
        left: -1000px;
        transition: all 0.4s ease;
        z-index: 99;
        .nav-social {
            display: flex;
            li {
                margin: 5px 0 5px 0;
                padding: 0 15px;
            }
            svg {
                font-size: 2em;
            }
        }
        .main-nav {
            flex-direction: column;
            margin-right: 0;
            display: flex;
            li {
                margin: 5px 0 5px;
                text-transform: uppercase;
                a {
                    color: #fff;
                    font-size: 1.5em; //font-weight: 400;
                    letter-spacing: 1px;
                    padding: 5px;
                }
            }
            li:nth-child(4) {
                //order: -1;
            }
        }
    }
    .container {
        display: block !important;
        position: fixed;
        right: 15px;
        top: 15px;
        padding: 10px;
        z-index: 99;
    }
    .burger {
        cursor: pointer;
        display: block;
    }
    .burger span {
        background-color: #fff;
        display: block;
        width: 40px;
        height: 4px;
        margin: 5px 0 5px 0;
        position: relative;
        top: 0;
        transition: all 0.3s ease;
    }
    .burger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }
    .burger.open span:nth-child(1) {
        transform: rotate(-45deg);
        top: 9px;
    }
    .burger.open span:nth-child(3) {
        transform: rotate(45deg);
        top: -9px;
    } // Header 
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        img {
            height: 250px;
            width: 250px;
        }
    } // Location
    // philosophy 
    .philosophy {
        margin-bottom: 0;
        margin-top: -20px;
    } // Rolls
    .rolls {
        // margin: 0 0 15px 0;
    } // Reviews 
    .reviews {
        margin: 0;
        padding: 0;
        .heading {
            padding: 30px 0 0 30px;
            display: flex;
            align-items: center;
            svg {
                margin-left: 5px;
            }
        }
        .text {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 0 0 15px 0;
        }
        .reviews-container {
            display: flex;
            margin: 0 50px 0 0;
            padding: 0px 30px;
            .review {
                margin: 0 15px;
                padding: 0 15px;
            }
        }
    }
}

// Menu
.deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .deal {
        width: 110px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 3px solid #fff;
        border-radius: 50%;
        margin: 10px;
        text-align: center;
        h4 {
            width: 85%;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
        }
        p {
            font-weight: bold;
            padding: 0;
        }
    }
    ul.allergens {
        font-weight: 300;
    }
}

// Location 
.location {
    // margin: 0 0 15px 0;
}



// Order Now
.order-now {
    .deliveroo {
        display: block;
        margin: 20px auto; //width: 50%;
        /* margin: 15px 0; */
        padding: 10px 0;
        border: 3px solid #fff;
        text-align: center;
        svg {
            padding: 5px;
            width: 100%;
        }
    }
}

// Footer 
footer {
    background-image: url("../images/img14.png");
    position: relative;
    overflow: hidden;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15px 30px 30px 30px;
    .heading {
        text-transform: uppercase;
        letter-spacing: 1px;
        h2,
        h3 {
            padding: 15px 0;
        }
        h2 {
            color: #e35f52;
        }
    }
    ul {
        flex-direction: column;
        align-items: flex-start;
        li {
            padding: 0 10px;
        }
    }
    .footer-contact,
    .footer-social {
        display: flex;
        margin-top: 5px;
        flex-direction: row;
        li {
            padding: 10px;
        }
    }
    .footer-social {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 350px) {
    .reviews .reviews-container .review {
        margin: 0;
    }
    .order-now .deliveroo {
        display: inline-block;
        svg {
            width: 80%;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 700px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    } // Skew
    .skewed-bg {
        transform: skew(0);
    }
    .skewed-content {
        transform: skew(0);
    } // Images
    .image0,
    .image1,
    .image2,
    .image3,
    .image4,
    .image5 {
        position: relative;
        overflow: hidden;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .image0 {
        background-image: url("../images/img11.png");
        height: 550px;
        text-align: center;
        padding-top: 50px;
    }
    .image3 {
        background-image: url("../images/img6.png");
        height: 500px;
    }
    .image2 {
        background-image: url("../images/IMG_0448.png");
        height: 500px;
    }
    .image4 {
        background-image: url("../images/IMG_0445.png");
        height: 500px;
    }
    .image5 {
        background-image: url("../images/IMG_0443.png");
        height: 500px;
    } // // Navigation
    // nav,
    // ul {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     margin-top: 15px;
    //     z-index: 101;
    //     li {
    //         padding: 0 15px;
    //     }
    // }
    // .nav-social {
    //     display: none;
    // } // Header 
    // .header-logo {
    //     display: none;
    // } // header .header-logo {
    // //     display: block;
    // //     margin: 0 auto;
    // // }
    nav {
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        position: fixed;
        padding: 0 15px;
        width: 100%;
        z-index: 101;
        background-color: rgba(0, 0, 0, .5);
        max-width: 1200px;
        transition: opacity .5s ease-in-out;
        li {
            padding: 0 10px;
        }
        .main-nav {
            a {
                padding: 5px;
                display: block;
                color: #eee;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .main-nav,
    .nav-social {
        display: flex;
    } // Philosophy 
    .philosophy {
        margin-top: 0;
        .heading {
            width: 100%;
            text-align: center;
        }
        .text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            p:first-child {
                display: flex;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
        }
        .philosophy-lg {
            display: flex;
            justify-content: center;
            .street-style-lg,
            .sustainability-lg {
                display: flex;
                flex-direction: column;
                width: 45%;
                padding: 30px;
                text-align: center;
                span {
                    display: flex;
                    text-align: center;
                }
            }
        }
    } // Reviews 
    .reviews-container {
        position: relative;
        transition: all .5s ease-in-out;
    }
    .reviews {
        min-height: 400px;
        .heading {
            width: 100%;
            text-align: center;
        }
    }
    .review {
        position: absolute;
        left: 25%;
        width: 50%;
        margin: 0 auto;
        transition: all .5s ease-in-out;
        opacity: 0;
    } // Sushi Rolls
    .rolls {
        min-height: 550px;
        margin-bottom: 0;
        .heading {
            width: 100%;
            text-align: center;
        }
        .text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            p:first-child {
                display: flex;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
            .fish-lg,
            .veg-lg,
            .asian-lg,
            .options-lg {
                display: flex;
                flex-direction: column;
                width: 45%;
                padding: 15px;
                text-align: center;
            }
        }
    } // Menu 
    .menu {
        .heading {
            width: 100%;
            text-align: center;
        }
        .text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 20px;
            p:nth-child(-n+3) {
                display: flex;
                width: 80%;
                margin: 0 auto;
                justify-content: center;
            }
            .allergens-lg {
                li {
                    margin: 0 auto;
                }
                p {
                    text-align: center;
                }
                .heading {
                    margin-top: 25px;
                }
            }
        } // .hand-rolls-lg {
        //     max-height: 950px;
        // }
        .rolls-lg {
            display: flex;
            width: 80%;
            margin: 0 auto;
            justify-content: center;
            flex-direction: column;
            .heading,
            .menu-text {
                padding: 10px 0;
            }
            .menu-text {
                text-align: center;
            }
        }
        .allergens {
            display: flex;
            flex-direction: column;
        }
        .all-extras-lg {
            display: flex;
            text-align: center;
            margin-top: 15px;
            .miso-lg,
            .extras-lg {
                width: 25%;
                text-align: center;
            }
            .platters-lg {
                width: 50%;
                text-align: center;
            }
        }
    } // Location 
    .location {
        padding: 60px;
        .heading {
            width: 100%;
            text-align: center;
        }
        .text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            p {
                text-align: center;
                padding: 10px 0;
                &:last-child {
                    margin-bottom: 15px;
                }
            }
        }
    } 
    
    .contact-form {
        width: 60%;
        margin: 0 auto;
    }
    
    // Order Now 
    .order-now {
        .heading {
            width: 100%;
            text-align: center;
        }
        .text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            p {
                text-align: center;
                padding: 10px 0;
                &:last-child {
                    margin-bottom: 15px;
                }
            }
        }
    }
}