// Utilities

%allergen-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-weight: bold;
    font-size: .8em;    
}

.soy {
    background-color: #94c11e;
    @extend %allergen-icon;
   
}

.seasame {
    background-color: #a28671;
    @extend %allergen-icon;
    margin-right: 0;
}

.egg {
    background-color: #94c11e;
    @extend %allergen-icon;
}

.dairy {
    background-color: #2e2d83;
    @extend %allergen-icon;
}

.crust {
    background-color: #e54d42;
    @extend %allergen-icon;
}

.fish {
    background-color: #2e81b7;
    @extend %allergen-icon;
}

.gluten {
    background-color: #2abb9b;
    @extend %allergen-icon;
}

.mustard {
    background-color: #fca72b;
    @extend %allergen-icon;
}

.bold {
    font-weight: bold;
}

.slide-in {
    left: 0;
    top: 5px;
    position: fixed;
    width: 100%;
    height: 100vh;
}

// Slide up Nav


.stop-scroll {
    overflow: hidden;
}

// Skewed Backgrounds 

.skewed-bg {
    transform: skew(0, -5deg);
}

.skewed-content {
    transform: skew(0, 5deg);
}

.white {
    color: #fff;
}

.grey {
    background-color: $grey;
}

.open-closed {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    padding-left: 20px;
    opacity: 0; 
    transition: all .3s ease-in-out;
}
