// Utilities

%allergen-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-weight: bold;  
}

.soy {
    background-color: #94c11e;
    @extend %allergen-icon;
   
}

.seasame {
    background-color: #a28671;
    @extend %allergen-icon;
    margin-right: 0;
}

.egg {
    background-color: #94c11e;
    @extend %allergen-icon;
}

.dairy {
    background-color: #2e2d83;
    @extend %allergen-icon;
}

.crust {
    background-color: #e54d42;
    @extend %allergen-icon;
}

.fish {
    background-color: #2e81b7;
    @extend %allergen-icon;
}

.gluten {
    background-color: #2abb9b;
    @extend %allergen-icon;
}

.mustard {
    background-color: #fca72b;
    @extend %allergen-icon;
}

.bold {
    font-weight: bold;
}

.slide-in {
    left: 0;
    top: 5px;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.stop-scroll {
    overflow: hidden;
}

// Skewed Backgrounds 

.skewed-bg {
    transform: skew(0, -5deg);
}

.skewed-content {
    transform: skew(0, 5deg);
}

.white {
    color: #fff;
}

// Reviews Arrow

@-webkit-keyframes pulse {
    25% { transform: translateX(15px); color: gold; }  
  }
  
  @-moz-keyframes pulse {
    25% { transform: translateX(15px); color: gold; }  
  }
  
  @-o-keyframes pulse {
    25% { transform: translateX(15px); color: gold; }
  }
  
  @keyframes pulse { 
    25% { transform: translateX(15px); color: gold; } // changed to 25% to stop the sudden change to white
  }
  
  .element {
      transition: background-color 2s;
      -webkit-animation: pulse 2s infinite; /* Safari 4+ */
      -moz-animation:    pulse 2s infinite; /* Fx 5+ */
      -o-animation:      pulse 2s infinite; /* Opera 12+ */
      animation:         pulse 2s infinite; /* IE 10+, Fx 29+ */
    }
  
