/****************
** Burger Menu **
*****************/

.container {
  position: relative;
  width: 50px;
  margin: 15px 20px 15px auto;
}

.burger {
  cursor: pointer;
  display: block;
}

.burger span {
  background-color: #000;
  display: block;
  width: 50px;
  height: 8px;
  margin-bottom: 5px;
  position: relative;
  top: 0;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.burger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.burger.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 13px
}

.burger.open span:nth-child(3) {
  transform: rotate(45deg);
  top: -13px;
}